<p><label for="idea_title">Title</label><br>
<textarea id="idea_summary" name="idea[title]" rows="1" cols="50"><%= @idea.title %></textarea></p>
<p><label for="idea_summary">Summary</label><br>
<textarea id="idea_summary" name="idea[summary]" rows="1" cols="50"><%= @idea.summary %></textarea></p>
<p><label for="idea_content">Content</label><br>
<textarea id="idea_content" name="idea[content]" rows="40" cols="100"><%= @idea.content %></textarea></p>
<input id="idea_published" name="idea[published]" value="0" type="hidden">

