<h1>Add a New Idea</h1>

<form action="/ideas/new" method="post">
 <%= render('form') %>
 <input id="idea_published" name="idea[published]" value="false" type="hidden">
 <button>Add Idea</button>
</form>
